# 18: Membentuk dummy Data Frame

In [ ]:
2273033 - Casyel Bersheba Limpele

In [ ]:
Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

Membentuk Data Frame dari Dictionary

In [2]:
pd.DataFrame({'col1':[1, 2, 3, 4], 
              'col2':[5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

Membentuk Data Frame dari Numpy Array

In [3]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[15,  7,  5],
       [18,  6, 19],
       [15, 18,  9],
       [14, 13,  8],
       [ 7, 11,  8]])

In [4]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0  15   7   5
1  18   6  19
2  15  18   9
3  14  13   8
4   7  11   8

In [ ]:
Membentuk Data Frame dengan memanfaatkan pandas.util.testing

In [ ]:
pd.util.testing.makeDataFrame().head()

In [ ]:
pd.util.testing.makeMixedDataFrame().head()

In [ ]:
pd.util.testing.makeTimeDataFrame().head()

In [ ]:
pd.util.testing.makeMissingDataframe().head()