# 01: Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame

2273033 - Casyel Bersheba Limpele

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(pd.__version__)

2.0.3
2.0.3

Persiapan Data frame

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  5  5  9  6  4
1  1  2  8  1  8
2  3  6  8  9  7
3  4  4  9  4  7
4  2  4  4  1  5

In [4]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

Menyertakan Prefix Kolom

In [5]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        5        5        9        6        4
1        1        2        8        1        8
2        3        6        8        9        7
3        4        4        9        4        7
4        2        4        4        1        5

Menyertakan Suffix Kolom

In [6]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        5        5        9        6        4
1        1        2        8        1        8
2        3        6        8        9        7
3        4        4        9        4        7
4        2        4        4        1        5