# 03 Konversi tipe data String ke Numerik pada kolom Data Frame

2273033 - Casyel Bersheba Limpele

Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

2.0.3

Persiapan Data Frame

In [2]:
data = {'col1':['1', '2', '3', 'teks'],
        'col2': ['1', '2', '3', '4']}
df = pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

In [3]:
df.dtypes

col1    object
col2    object
dtype: object

Konversi tipe data dengan fungsi astype()

In [4]:
df_x = df.astype({'col2':'int'})
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

In [5]:
df_x.dtypes

col1    object
col2     int32
dtype: object

In [6]:
df_x = df.astype({'col2':'float'})
df_x

   col1  col2
0     1   1.0
1     2   2.0
2     3   3.0
3  teks   4.0

In [7]:
df_x.dtypes

col1     object
col2    float64
dtype: object

In [9]:
df_x = df.astype({'col1':'int'})
df_x

ValueError: invalid literal for int() with base 10: 'teks': Error while type casting for column 'col1'

Konversi tipe data numerik dengan fungsi to_numeric()

In [10]:
df.apply(pd.to_numeric, errors='coerce')

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4