# 11: Melakukan seleksi kolom dan baris pada Data Frame menggunakan loc

2273033 - Casyel Bersheba Limpele

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   9  16   5  19  16
1   6  18  18  19  18
2  18  17  17  12   3
3  16   6   2   5  15
4  12  12  13   1  17
5   3  13  15   1   2
6  19  16  11  16  18
7  16  14  15   6   5
8   3  17   5  10  14
9  19  18   9  16   3

Seleksi kolom dan baris menggunakan loc

In [3]:
df.loc[[0,3,4], ['B','E']]

    B   E
0  16  16
3   6  15
4  12  17

Seleksi baris dengan kondisi

In [4]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
0  16  19  16
1  18  19  18
2  17  12   3
4  12   1  17
5  13   1   2
6  16  16  18
7  14   6   5
8  17  10  14
9  18  16   3

Slicing Data Frame dengan loc

In [5]:
df.loc[0:4, 'B':'D']

    B   C   D
0  16   5  19
1  18  18  19
2  17  17  12
3   6   2   5
4  12  13   1