# 56: Mengeluarkan kolom dari Data Frame

Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

Persiapan Data Frame

In [ ]:
data = {'nama': ['bayu', 'indra', 'devi', 'agni'],
       'jenis_kelamin': ['L', 'L', 'P', 'L'],
       'usia': [23, 21, 22, 25]}

df = pd.DataFrame(data)
df

Mengeluarkan kolom dari Data Frame

In [ ]:
usia = df.pop('usia').to_frame()

In [ ]:
df

In [ ]:
usia