# 30: Akses nilai variabel pada query()

In [ ]:
2273033 - Casyel Bersheba Limpele

In [ ]:
Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

Persiapan Data Frame

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  16  14   2  12  18
1   5  12  10   1  17
2   4  19   1  15  19
3  10   1  11  19  10
4   9  10   8   8   4

Akses nilai variabel pada query()

In [4]:
df.query('A > 10')

    A   B  C   D   E
0  16  14  2  12  18

In [5]:
rerata = df['A'].mean()
rerata

8.8

In [6]:
df.query('A > @rerata')

    A   B   C   D   E
0  16  14   2  12  18
3  10   1  11  19  10
4   9  10   8   8   4