# 13: Konversi nilai numerik ke dalam sejumlah kategori

2273033 - Casyel Bersheba Limpele

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), 
                  columns=cols)
df

   usia
0    80
1    21
2    75
3    51
4    93
5    90
6    12
7    32
8    62
9     9

Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan cut()

In [3]:
df['kelompok_usia'] = pd.cut(df['usia'], 
                             bins=[0, 18, 65, 99], 
                             labels=['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    80        manula
1    21        dewasa
2    75        manula
3    51        dewasa
4    93        manula
5    90        manula
6    12          anak
7    32        dewasa
8    62        dewasa
9     9          anak