# 42: Mengurutkan data berdasarkan kolom tertentu

Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.head()

Mengurutkan data berdasarkan kolom tertentu

In [ ]:
df.sort_values('age').head()

In [ ]:
df.sort_values('age', ascending=False).head()

In [ ]:
df.sort_values(['survived', 'age']).head()