# 5 Membalik urutan baris dan kolom pada Data Frame

2273033 - Casyel Bersheba Limpele

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)

df

   A  B  C  D  E
0  3  3  7  3  5
1  7  1  8  1  3
2  5  5  3  5  9
3  5  8  7  7  1
4  6  5  5  4  5

Membalik urutan kolom

In [3]:
df.loc[:, ::-1]

   E  D  C  B  A
0  5  3  7  3  3
1  3  1  8  1  7
2  9  5  3  5  5
3  1  7  7  8  5
4  5  4  5  5  6

Membalik urutan baris

In [4]:
df.loc[::-1]

   A  B  C  D  E
4  6  5  5  4  5
3  5  8  7  7  1
2  5  5  3  5  9
1  7  1  8  1  3
0  3  3  7  3  5

Membalik urutan baris dan melakukan penyesuaian ulang index

In [5]:
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  6  5  5  4  5
1  5  8  7  7  1
2  5  5  3  5  9
3  7  1  8  1  3
4  3  3  7  3  5