# 02: Pemilihan baris (rows selection) pada Data Frame

2273033 - Casyel Bersheba Limpele

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,5, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  3  4  2  4  4
1  3  4  1  3  2
2  1  1  2  3  4
3  2  1  3  3  4
4  3  4  2  3  3
5  4  1  1  4  1
6  3  3  3  2  3
7  1  3  3  1  3
8  1  1  1  2  2
9  4  3  3  3  1

Selection dengan operator logika |

In [3]:
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
0  3  4  2  4  4
1  3  4  1  3  2
2  1  1  2  3  4
4  3  4  2  3  3
6  3  3  3  2  3
7  1  3  3  1  3
8  1  1  1  2  2

Selection dengan fungsi isin()

In [4]:
df[df['A'].isin([1,3])]

   A  B  C  D  E
0  3  4  2  4  4
1  3  4  1  3  2
2  1  1  2  3  4
4  3  4  2  3  3
6  3  3  3  2  3
7  1  3  3  1  3
8  1  1  1  2  2

In [5]:
df[not df['A'].isin([1,3])]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Mengenal operator negasi ~

In [6]:
df[~df['A'].isin([1, 3])]

   A  B  C  D  E
3  2  1  3  3  4
5  4  1  1  4  1
9  4  3  3  3  1